{% extends "base.html" %}

{% block body %}
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

        <h1><center>Add a Song!</center></h1>

        <div class="text-center">


        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.subject(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>


        <h1>Add an Artist!</h1>

        <div class="text-center">

        
        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.artist(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

        <h1>Add a Genre!</h1>

        <div class="text-center">

        
        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.genre(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

        <h1>Favorite?</h1>

        {{ form.favorite}}

            
             <p>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
                <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>
<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">






<img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


                {{form.submit()}}
            </p>
        </form>
    </div>
       
{% endblock %}

